<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="email=no" name="format-detection"/>
    <title>MY Project</title>
</head>
<body>
<h1>Hello,EJS!</h1>
<div class="container">
    <img src="images/headerBg.png">
    this is ejs templates
</div>
</body>
</html>
